//$main-color: #c70101;
$white-color: #fff;//bg-section, text, button
$off-white-color:#EBF0F9;//form, bg-section
$border-color:#E5E5E5;//title-border
$dark-color:#0B0706;//text, bg-section
$black-color:#1D2130;//button, title
$gray-color:#525560;//text
$dark-green-color:#70C174;//button
$green-color:#BEF3C0;//component
$light-green-color:#EFF7F2;//bg-section

